{% extends 'farm/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
{% block body %}
    <br />
    <img src="media/images/plots/Turnip_harvest.png" class="img-fluid"> <img src="media/images/plots/Potato_harvest.png" class="img-fluid"> <img src="media/images/plots/Tomato_harvest.png" class="img-fluid">
    <br /><br />
    <h1>Farming Game</h1>
    A game where you can buy seeds, grow plants, and sell your harvest to do it all over again.
{% endblock %}
</body>
</html>